<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <%- include('templates/head.ejs') %>
</head>

<body>
  <%- include('templates/header.ejs', {active: 'contactus' }) %>
  <h2>Contact us</h2>

  <div class="center">
    <h1>
      <%= locals?.contactusformstatus || '' %>
    </h1>
  </div>
  <div class="contactus-container ">
    <form action="/contactus" method="post">
      <label for="fullName">Full Name</label>
      <input type="text" id="fullName" name="fullName" placeholder="Full Name" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" required>

      <label for="Intention">Intention</label>
      <select name="intention" id="intention" required>
        <option value="Not sure">Not Sure</option>
        <option value="Coming">Coming</option>
        <option value="dont know">don't know</option>
      </select>

      <label for="subject">Message</label>
      <textarea id="body" name="body" placeholder="Write something.." style="height:200px" required></textarea>

      <input type="submit" value="Submit">

    </form>
  </div>

</body>

</html>