<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQs</title>
  <%- include('templates/head.ejs') %>
</head>

<body>

  <%- include('templates/header.ejs', { active: 'faq' }) %>

  <h1>FAQs</h1>

  <% if(faqs.length) { %>

  <% for(let faq of faqs){ %>
  <button class="accordion">
    <%= faq.Question %>
  </button>
  <div class="panel">
    <p>
      <%= faq.Answer %>
    </p>
  </div>
  <% } %>
  <% } else { %>
  <div>No FAQs Available</div>
  <% } %>

  <script src="js/main.js"> </script>
</body>

</html>