<div>
    <a href="/" class="" title="Home page logo">
        <img class="logo" src="image/festival-logo.jpg" />
    </a>
</div>
<div class="navbar">
    <a class="<%= active == 'home' ? 'active' : 'default' %> " href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <!-- <a href="#"><i class="fa fa-fw fa-search"></i> Search</a> -->
    <a class="<%= active == 'faq' ? 'active' : 'default' %>  " href="/faq"><i class="fa fa-fw fa-question-circle"></i> FAQ</a>
    <a class="<%= active == 'contactus' ? 'active' : 'default' %> " href="/contactus"><i class="fa fa-fw fa-envelope"></i> Contact Us</a>
    <a class="split" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
</div>